<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">

  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
        Welcome to the login page, please login!
        <button class="btn btn-default" type="button" name="button">Login</button>
    </div>
    <div class="container">
      <h1>{{ myName }}</h1>
      <ul>
        {% for number in numbers %}
        <li>{{ number }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
